.work__filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: var(--mb-2);
}
.work__item{
    cursor: pointer;
    color: var(--mb-color);
    padding: 0.25rem 0.5rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
}

.work__item:hover{
    background-color: var(--title-color);
    color: var(--container-color);
}
.work__container{
    grid-template-columns: repeat(2 , max-content);
    gap: 3rem;
    justify-content: center;
}

.work__card{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    border-radius: 1 rem;

}
.work__flex{
    display: flex;
    justify-content: space-between;
}
.work__img{
    width: 325px;
    border-radius: 0.75rem ;
    margin-bottom: var(--mb-1);
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--container-color);
    height: 150px;

}

.work__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom:var(--mb-0-5);
}

.work__button{
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.work__button-icon{
    font-size: 1 rem;
    transition: 0.4s;
}
.work__button:hover .work__button-icon{
    transform: translateX(0.25rem);
}

/*active work*/
.active-work{
    background-color: var(--title-color);
    color: var(--container-color);
}

.work__img-container {
    position: relative;
    display: inline-block;
  }
  
  .work__img {
    width: 325px;
    border-radius: 0.75rem;
    margin-bottom: var(--mb-1);
    height: 150px;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
  }
  
  .work__img-container.hovered .work__img {
    filter: blur(3px);
    opacity: 0.7;
  }
  
  .work__preview-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1rem;
    font-size: var(--small-font-size);
    font-weight: bold;
    color: var(--container-color);
    background-color: var(--title-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    display: none;
  }
  
  .work__img-container.hovered .work__preview-button {
    display: block;
  }
  

/* ====================breakpoint===============*/

@media screen and (max-width: 992px) {
     
    .work__container{
        gap: 1.25rem;
    }
    .work__card{
        padding: 1rem;
    }
    .work__img{
        margin-bottom: 0.75rem;
    }
    .work__title{
        margin-bottom:0.28rem;
    }
}
@media screen and (max-width: 768px) {
     .work__container{
         grid-template-columns: max-content;
     }
 }
 
 @media screen and (max-width: 576px) {
   .work__container{
       grid-template-columns: 1fr;
   }
   .work__img{
       width: 100%;
   }
 }

 @media screen and (max-width: 350px) {
     .work__item{
         font-size: var(--small-font-size);
     }
     .work__filter{
         column-gap: 0.25rem;
     }
 }